/* RESET CSS START */
*  {
    margin: 0;
    padding: 0;
}
/* RESET CSS STOP */

/* BODY START */
* {    
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #626262;
    font-size: 14px;
    vertical-align: middle;
    line-height: normal;
    height: auto;
    text-align: left;
}
/* BODY STOP */

/* HEADER START */
ul {   
    text-align: center;
}

nav li {
    display: inline-block;
    width: 100px;
    margin-right: 100px;
}

li:first-child {
    margin-left: 0px;
}

li:last-child {
    margin-right: 0px;
}

nav a {
    display: inline-block;
    width: 100px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

nav {
    text-align: center;
    margin-bottom: 63px;
}
    
.nav a:hover {
    text-decoration: none;
    color: #03a9f4;
    border: 1px solid #03a9f4;
}
/* HEADER STOP */

/* MAIN START */
body {
    background-color: snow;
}

section {
    text-align: center;
    margin: auto;
    vertical-align: top;
    font-size: 0px;
    padding-bottom: 70px;
    width: 1000px;
}

article {
    display: inline-block;
    width: 420px;
    padding: 30px;
    vertical-align: top;
}

article:nth-last-of-type(-n+2) {
    margin-bottom: 23px;
}

img {
    display: inline-block;
    width: 420px;
    height: 280px;
    margin-bottom: 30px;
}

.filter {
    display: inline-block;
    margin-bottom: 22px;
}

h2 {
    font-size: 30px;
    font-style: bold;
    margin-bottom: 26px;
}

p {
    display: inline-block;
    line-height: 24px;
}
/* MAIN STOP*/

/* BUTTON START */
BUTTON {
    display: inline-block;
    background: snow;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 24px;
    width: 162px;
    height: 58px;
    border: 1px solid;
    text-align: center;
}

button:hover {
    text-decoration: none;
    color: #03a9f4;
    border: 1px solid #03a9f4;
}
/* BUTTON STOP */