/* HEADER START */
.conteiner {
    min-width: 320px;
}

.header {
    position: relative;
    width: 100%;
    height: 540px;
    background-image: url(../img/background/bcg_320x540.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text-our-team {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: center;
    width: 218.847px;
    margin: 0 auto;
  
}
a {
    text-decoration: none;
}

.nav-list a {
    display: block;
    box-sizing: border-box;
    width: 90px;
    height: 36px;
    padding: 9px;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', cursive;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid transparent;
    border-radius: 20px;
}

.nav-item a:focus, .nav-item a:hover {
    border: 2px solid #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.6);
    outline: none;
    cursor: pointer;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.link-logo, .wrapper-title {
    position: absolute;
    top: 32%;
    right: 50%;
    transform: translate(50%);
    display: block;
    color: #ffffff;
    font-family: 'Montserrat', cursive;
    font-weight: 700;
    font-size: 20px;
}

.wrapper-title {
    top: 40%;
    text-align: center;
    width: 100%;
}

.wrapper-title h1{
    font-family: 'Montserrat', cursive;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.2;
    width: 290px;
    margin: 0 auto 14px;
}

.wrapper-title p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    padding: 0 50px;
    margin-bottom: 15px;
}

.button-title {
    border-radius: 20px;
    border: none;
    background-color: #ff4e50;
    color: #fff;
    font-family: 'Montserrat', cursive;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    width: 280px;
    height: 40px;
    cursor: pointer;
}

.button-title:hover, .button-title:focus, .button-team:hover, .button-team:focus { 
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.6);
    outline: none;
}
/* HEADER END */

.title-our-team {
    font-size: 21.98px;
    margin: 0 auto;
    padding: 70px 30px 9px 30px;
    color: #333333;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-align: center;
}

.our-team {
    width: 100%;
}

.name-our-team {
    font-size: 13.94px;
    color: #333333;
    line-height: 75px;
    font-family: Montserrat, sans-serif;
    font-weight: 700; 
}

.our-team-list {
    text-align: center;
    padding: 10px 0px;
}

.our-team-item {
    position: relative;
    margin-bottom: 28px;
}


.form-title, .link-logo {
    text-transform: uppercase;
}

.wrapper-textarea-input {
    display: flex;
}

body {
    background: #fff;
}

.button-team {
    display: block;
    border-radius: 20px;
    border: 2px solid #ff4e50;
    background-color: transparent;
    color: #ff4e50;
    font-family: 'Montserrat', cursive;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    width: 280px;
    height: 40px;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 58px;
}

.img-item {
    display: inline-block;
    position: relative;
    width: auto;
}

.img-item::after {
    content: '';
    border-style: solid;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgb(255, 78, 80);
    background-image: url(../img/icons/icon1_17x17.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    position: absolute;
    width: 37px;
    height: 37px;
    bottom: 0px;
    transform: translateY(-50%);
    left: 100%;
    transform: translateX(-100%);
}

.img-item-2:after {
    background-color: rgb(255, 165, 7);
    background-image: url(../img/icons/icon2_13x16.png);
}

.img-item-3:after {
    background-color: rgb(28, 215, 173);
    background-image: url(../img/icons/icon3_17x17.png);
}

.img-item-4:after {
    background-color: rgb(78, 115, 219);
    background-image: url(../img/icons/icon4_17x16.png);
}


/* RESET START */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* RESET STOP */

/* FONTS START */
  /* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* FONTS END */

/* MEDIA START */
@media (min-width: 768px) and (max-width: 1199px) {
    .our-team-item {
        width: 50%;
        box-sizing: border-box;
        padding-left: 150px;
    }

    .our-team-item:nth-child(2n+2) {
        padding-left: 0px;
        padding-right: 150px;
    }
}

@media (min-width: 768px) {
    .wrapper-title h1{
        font-size: 51.97px;
        width: 490px;
        margin: 0 auto;
    }
    
    .nav {
        display: flex;
        justify-content: space-between;
        padding: 0px 40px;
    }

    .link-logo {
        display: flex;
        position: static;
        align-items: center;
        transform: translate(0%);
    }

    .header {
        background-size: cover;
        height: 700px;
    }

    .wrapper-title p{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 23.99px;
        line-height: 1.2;
        margin-bottom: 28px;
    }

    .wrapper-title {
        top: 30%;
    }

    .wrapper-title h1 {
        width: 500px;
        margin: 0 auto 34px;
    }

    .our-team-list {
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .title-our-team {
        padding: 70px 30px 30px 30px;
    }

    .name-our-team {
        line-height: 50px;
    }

    .header {
        background-image: url(../img/background/bcg_768x700.jpg);
    }
}

@media (min-width: 1200px) {
    .our-team-item {
        width: 25%;
    }

    .header {
        background-size: cover;
    }

    .our-team-list {
        width: 940px;
    }

    .wrapper-title {
        top: 30%;
    }

    .nav {
        max-width: 940px;
        margin: 0 auto;
    }

    .header {
        background-image: url(../img/background/bcg_1440x700.jpg);
    }
}
/* MEDIA END */